<div class="container mt-4">
  <div class="d-flex justify-content-center gap-2 flex-wrap">
    <button
      class="btn btn-outline-dark btn-sm filter-btn"
      [routerLink]="['/search/all']"
    >
      Todos
    </button>
    <button
      class="btn btn-outline-dark btn-sm filter-btn"
      [routerLink]="'/search/pizza'"
    >
      Pizza
    </button>
    <button
      class="btn btn-outline-dark btn-sm filter-btn"
      [routerLink]="'/search/hamburguesas'"
    >
      Hamburguesas
    </button>
    <button
      class="btn btn-outline-dark btn-sm filter-btn"
      [routerLink]="'/search/empanadas'"
    >
      Empanadas
    </button>
    <button
      class="btn btn-outline-dark btn-sm filter-btn"
      [routerLink]="'/search/sushi'"
    >
      Sushi
    </button>
    <button
      class="btn btn-outline-dark btn-sm filter-btn"
      [routerLink]="'/search/postres'"
    >
      Postres
    </button>
  </div>
</div>
