<div class="container mt-4">
  <div class="d-flex justify-content-center gap-2 flex-wrap">
    <button class="btn btn-outline-dark btn-sm filter-btn" data-type="all">
      Todos
    </button>
    <button class="btn btn-outline-dark btn-sm filter-btn" data-type="pizza">
      Pizza
    </button>
    <button
      class="btn btn-outline-dark btn-sm filter-btn"
      data-type="hamburguesas"
    >
      Hamburguesas
    </button>
    <button
      class="btn btn-outline-dark btn-sm filter-btn"
      data-type="empanadas"
    >
      Empanadas
    </button>
    <button class="btn btn-outline-dark btn-sm filter-btn" data-type="sushi">
      Sushi
    </button>
    <button class="btn btn-outline-dark btn-sm filter-btn" data-type="postres">
      Postres
    </button>
  </div>
</div>
