<div class="container mt-4">
  <div class="d-flex justify-content-center gap-2 flex-wrap">
    <button
      class="btn btn-outline-custom btn-xs filter-btn"
      [routerLink]="['/buscar/todos']"
    >
      Todos
    </button>
    <button
      class="btn btn-outline-custom btn-xs filter-btn"
      [routerLink]="'/buscar/pizza'"
    >
      Pizza
    </button>
    <button
      class="btn btn-outline-custom btn-xs filter-btn"
      [routerLink]="'/buscar/hamburguesas'"
    >
      Hamburguesas
    </button>
    <button
      class="btn btn-outline-custom btn-xs filter-btn"
      [routerLink]="'/buscar/empanadas'"
    >
      Empanadas
    </button>
    <button
      class="btn btn-outline-custom btn-xs filter-btn"
      [routerLink]="'/buscar/sushi'"
    >
      Sushi
    </button>
    <button
      class="btn btn-outline-custom btn-xs filter-btn"
      [routerLink]="'/buscar/postres'"
    >
      Postres
    </button>
    <button
      class="btn btn-outline-custom btn-xs filter-btn"
      [routerLink]="'/buscar/desayuno'"
    >
      Desayuno
    </button>
    <button
      class="btn btn-outline-custom btn-xs filter-btn"
      [routerLink]="'/buscar/dulce'"
    >
      Dulce
    </button>
  </div>
</div>
