<section
  class="container d-flex flex-column align-items-center justify-content-center text-center pt-5"
>
  <h2 class="fw-bold mb-3 hero-title">
    Encontrá tus comidas favoritas en un solo lugar
  </h2>
  <p class="hero-text">
    Explorá los comercios gastronómicos de tu ciudad y descubrí nuevas opciones
    para disfrutar. Compará, elegí y pedí fácilmente desde donde estés.
  </p>

  <!-- Buscador centrado -->
  <div class="search-container mt-3 w-100">
    <input
      type="text"
      class="form-control search-input"
      placeholder="Buscar comidas o comercios..."
    />
    <button class="search-btn" type="submit">
      <i class="bi bi-search"></i>
    </button>
  </div>
</section>
